<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Medicare scenarios" verbose="2">
	<test name="Regression">
		<classes>
			<class name="UserValidation.AddTwoProducts"/>
			<class name="NegativeScenario.LoginIncorrectly"/>
		</classes>
	</test>
</suite> 
